<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml를 활용한 공통코드 -->

<!-- 메핑할 인터페이스를 namespace에 넣는다. 패키지명, 인터페이스명 -->
<mapper namespace="org.zerock.mapper.BoardMapper">	<!--  패키지, 인터페이스명 기입 -->

	<sql id="criteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{keyword}||'%'
					</when>
					
					<when test="type == 'C'.toString()">
						content like '%'||#{keyword}||'%'
					</when>
					
					<when test="type == 'W'.toString()">
						writer like '%'||#{keyword}||'%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>

<select id="getList" resultType="org.zerock.domain.BoardVO">
<![CDATA[
	select * from tbl_board where bno > 0
]]>	<!--  CDATA -> 문자열을 판단하는 것(문자처리) -->
</select>

<insert id="insert">
<![CDATA[
	insert into tbl_borad (bno, title, content, writer) values (seq_board.nextval, #{title}, #{content}, #{writer})
]]>
</insert>

<insert id="insertSelectKey">
	<selectKey keyProperty="bno" order="BEFORE" resultType="long">
	select seq_board.nextval from dual
	</selectKey>	<!-- insert 전에 번호를 미리 만들어 놓는다. -->
	
	<![CDATA[
	insert into tbl_board (bno, title, content, writer) values (#{bno}, #{title}, #{content}, #{writer})
	]]>
</insert>

<select id="read" resultType="org.zerock.domain.BoardVO">
	<![CDATA[
		Select * from tbl_board where bno = #{bno}
	]]>
</select>	<!-- bno와 같은 테이블에 모든 정보를 가져와 객체화 시킨다. -->

<update id="update">
	<![CDATA[
		update tbl_board
		set title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = sysdate
		where bno = #{bno}
	]]>	
</update>	<!-- 번호를 가지고 해당 하는 객체를 수정한다. 단, regdate는 건들면 안된다. -->

<delete id="delete">
	<![CDATA[
	delete from tbl_board where bno = #{bno}
	]]>
</delete> <!--  번호를 조건으로 레코드를 삭제한다. -->

	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
  <![CDATA[
  select 
    bno, title, content, writer, regdate, updatedate
  from 
      (
      select /*+INDEX_DESC(tbl_board pk_board) */
        rownum rn, bno, title, content, writer, regdate, updatedate 
      from 
        tbl_board
      where 
  ]]>
  
  <include refid="criteria"></include>
  
   <![CDATA[    
      rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount}   
  ]]>
  
 </select>
 
 <select id="getTotalCount" resultType="int">
		select count(*) from tbl_board where 
		
		<include refid="criteria"></include> 
		
		bno > 0
		
	</select>
  

</mapper>